{
    "name": "{{ idm_keycloak_settings.idm_keycloak_scope_TENANT_NAMES }}",
    "description": "Scope for obtaining a list of tenant names.",
    "protocol": "openid-connect",
    "attributes": {
    "include.in.token.scope": "true",
    "display.on.consent.screen": "true"
    },
    "protocolMappers": [
        {
            "name": "tenant-tenantnames",
            "protocol": "openid-connect",
            "protocolMapper": "script-/theme/ocp-custom/login/resources/js/tenantnames.js",
            "consentRequired": false,
            "config": {
              "id.token.claim": "true",
              "access.token.claim": "true",
              "claim.name": "tenants",
              "jsonType.label": "JSON",
              "userinfo.token.claim": "true"
            }
        }
    ]
}