{
    "description": "Default ODP BTLX application",
    "name": "{{ inv_am.apim.portal_application }}",
    "settings": {
        "app": {
            "client_id": "{{ IDM_CLIENT.API_ACCESS }}"
        }
    }
}