{
    "enabled": true,
    "type": "oidc",
    "name": "KEYCLOAK",
    "configuration": {
        "clientId": "{{ IDM_CLIENT.GRAVITEE }}",
        "clientSecret": "{{ IDM_CLIENT_SECRET_GRAVITEE }}",
        "tokenEndpoint": "https://idm.{{ DOMAIN }}/auth/realms/{{ inv_idm.keycloak.realm_name }}/protocol/openid-connect/token",
        "authorizeEndpoint": "https://idm.{{ DOMAIN }}/auth/realms/{{ inv_idm.keycloak.realm_name }}/protocol/openid-connect/auth",
        "userInfoEndpoint": "https://idm.{{ DOMAIN }}/auth/realms/{{ inv_idm.keycloak.realm_name }}/protocol/openid-connect/userinfo"
    },
    "userProfileMapping": {
        "id": "sub"
    }
}