# Default values for FROST Helm chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# If empty, use the chart name as common base name for any FROST-Server Kubernetes component
name: frost-server

frost:
  ######################################
  # FROST-Server general configuration #
  ######################################
  enableActuation: true

  ##########################################
  # FROST-Server HTTP module configuration #
  ##########################################
  http:
    image:
      registry: {{ cm_frost.frost_http_image_registry }}
      repository: {{ cm_frost.frost_http_image_repository }}
      tag: {{ cm_frost.frost_http_image_tag }}
      pullPolicy: {{ general.image_pullPolicy }}
    # FROST-Server HTTP deployment settings
    replicas: 1
    ports:
      http:
        nodePort:
        servicePort: 80
    ingress:
      enabled: false
      rewriteAnnotation: nginx.ingress.kubernetes.io/rewrite-target
      rewriteTraget: /FROST-Server/$1
      path: /(.*)

    # FROST-Server HTTP business settings
    serviceHost: frost-server
    serviceProtocol: http
    servicePort:
    urlSubPath:
    defaultCount: false
    defaultTop: 100
    maxTop: 1000
    maxDataSize: 25000000
    useAbsoluteNavigationLinks: false

    # FROST-Server Database related settings to the FROST-Server HTTP
    db:
      autoUpdate: true
      alwaysOrderbyId: false
      maximumConnection: 10
      maximumIdleConnection: 10
      minimumIdleConnection: 10

    # FROST-Server Messages Bus related settings to the FROST-Server HTTP
    bus:
      sendWorkerPoolSize: 10
      sendQueueSize: 100
      recvWorkerPoolSize: 10
      recvQueueSize: 100
      maxInFlight: 50

  ##############################################
  # FROST-Server Database module configuration #
  ##############################################
  db:
    image:
      registry: docker.io
      repository: postgis/postgis
      tag: 11-2.5-alpine
      pullPolicy: IfNotPresent
    # FROST-Server Database deployment settings
    ports:
      postgresql:
        servicePort: 5432
    persistence:
      enabled: false
      existingClaim:
      storageClassName:
      accessModes:
        - ReadWriteOnce
      capacity: 10Gi
      # Uncomment bellow if you want to use the builtin "frost-server-db-local" StorageClass name.
      # Only compatible if the ReadWriteOnce access mode is only claimed (check the frost.db.persistence.accessModes value).
      # See project documentation for more information
      #local:
      #  nodeMountPath: /mnt/frost-server-db

    # Common FROST-Server Database properties, shared by any other FROST-Server modules
    implementationClass: "de.fraunhofer.iosb.ilt.sta.persistence.postgres.longid.PostgresPersistenceManagerLong"
    idGenerationMode: "ServerGeneratedOnly"
    database: sensorthings
    username: {{ inv_cm.frost.context_mgmt_db_username | b64encode }}
    password: {{ inv_cm.frost.context_mgmt_db_password | b64encode }}

  ##########################################
  # FROST-Server MQTT module configuration #
  ##########################################
  mqtt:
    image:
      registry: {{ cm_frost.frost_mqtt_image_registry }}
      repository: {{ cm_frost.frost_mqtt_image_repository }}
      tag: {{ cm_frost.frost_mqtt_image_tag }}
      pullPolicy: {{ general.image_pullPolicy }}
    # FROST-Server MQTT deployment settings
    enabled: {{ inv_cm.frost.context_mgmt_mqtt_enable }}
    replicas: 1
    ports:
      mqtt:
        nodePort: 
        servicePort: 1883
      websocket:
        nodePort: 
        servicePort: 9876
    stickySessionTimeout: 10800

    # FROST-Server MQTT business settings
    qos: 2
    subscribeMessageQueueSize: 100
    subscribeThreadPoolSize: 10
    createMessageQueueSize: 100
    createThreadPoolSize: 10
    maxInFlight: 50
    waitForEnter: false

    # FROST-Server Database related settings to the FROST-Server MQTT
    db:
      alwaysOrderbyId: false
      maximumConnection: 10
      maximumIdleConnection: 10
      minimumIdleConnection: 10

    # FROST-Server Messages Bus related settings to the FROST-Server MQTT
    bus:
      sendWorkerPoolSize: 10
      sendQueueSize: 100
      recvWorkerPoolSize: 10
      recvQueueSize: 100
      maxInFlight: 50

  ##################################################
  # FROST-Server Messages Bus module configuration #
  ##################################################
  bus:
    image:
        registry: {{ cm_frost.frost_bus_image_registry }}
        repository: {{ cm_frost.frost_bus_image_repository }}
        tag: {{ cm_frost.frost_bus_image_tag }}
        pullPolicy: {{ general.image_pullPolicy }}
    # FROST-Server Messages Bus deployment settings
    ports:
      bus:
        servicePort: 1883

    # Common FROST-Server Messages Bus properties, shared by any other FROST-Server modules
    implementationClass: "de.fraunhofer.iosb.ilt.sta.messagebus.MqttMessageBus"
    topicName: "FROST-Bus"
    qos: 2
